@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.styled {
  font-family: 'Itim', cursive;
  font-size: 15px;
}

#btn1 {
  background-color: #FF4918;
}

#btn2 {
  background-color: #18FFB0;
}
